@font-face {
  font-family: 'Oswald';
  src: url(../resources/fonts/Oswald-Medium.ttf);
}

body {
  margin: 0;

  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: #D6D6D6;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #292929;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}